@import '@red-hat-insights/insights-frontend-components/Utilities/_mixins.scss';

.ins-c-resolution-modal {
    .ins-c-resolution-choice__details { @include rem("margin-left", 5px); }
    .ins-c-resolution-option .pf-c-check { align-items: baseline; }
    .ins-m-text__bold { font-weight: 500; }
    .pf-c-label { background: var(--pf-global--Color--200); }
}
