@import '@redhat-cloud-services/frontend-components-utilities/styles/_mixins.scss';

.rem-c-form-select-systems .pf-c-form__group {
    display: grid;
    grid-template-columns: 1fr 2fr;
    @include rem('grid-column-gap', 30px);
    @include rem('grid-row-gap', 15px);
}
