/* stylelint-disable */

.page__finditfixit {

    .pf-c-data-list {
        --pf-global--BoxShadow--md: transparent 0 0 0 0;

        .pf-c-data-list__item + .pf-c-data-list__item {
            border: None;
        }

        .pf-c-data-list__item {
            display: flex;
            justify-content: space-between;

            .pf-c-data-list__cell + .pf-c-data-list__cell {
                text-align: right;
            }

            .pf-c-data-list__cell {
                padding-top: 0;
                padding-bottom: 0;
            }
        }
    }

    .pf-c-card__header {
        --pf-c-card__header--PaddingTop: 12px;
        --pf-c-card__header--PaddingBottom: 12px;
        --pf-c-card__header--PaddingLeft: 24px;
        --pf-c-card__header--PaddingRight: 24px;

        border-bottom: 2px solid #ebebeb;
        font-size: 18px;
    }

    .runDetails {
        .pf-c-card {
            flex: 1;
            margin-right: 0;
        }
        .taskCard {
            --pf-c-card__body--PaddingLeft: 0;
            --pf-c-card__body--PaddingRight: 0;
        }
        .pf-c-card + .pf-c-card {
            margin-left: 20px;
        }
    }

    .logCard {
        display: flex;
        flex: 1;
        margin-right: 0;
        margin-top: 20px;
    }

    .pf-c-tooltip__content {
        --pf-c-tooltip__content--PaddingBottom: 10px;
        --pf-c-tooltip__content--PaddingLeft: 10px;
        --pf-c-tooltip__content--PaddingRight: 10px;
        --pf-c-tooltip__content--PaddingTop: 10px;
    }

    .playBookCard {
        .pf-c-card {
            padding-top: 20;
        }
        .pf-c-card__body {
            padding-left: 0;
            padding-right: 0;
        }
    }

    .backToTop {
        cursor: pointer;
        color: #337AB7;
    }

    .downloadIcon.pf-c-button.pf-m-tertiary {
        &:hover {
            --pf-c-button--m-tertiary--hover--BackgroundColor: #337AB7;
            --pf-c-button--m-tertiary--hover--BorderColor: transparent;
            --pf-c-button--m-tertiary--hover--Color: white;
            cursor: pointer;
        }
        &::after {
            border: none;
        }
    }

    .pf-c-empty-state {
      align-self: center;
    }

    .pf-c-alert__icon {
        --pf-c-alert__icon--Color: white;
      }

    .pf-c-modal-box {
        min-width: 600px;
        &__footer {
            --pf-c-modal-box__footer--MarginTop:20px;
        }
        &__body {
            --pf-c-modal-box--c-title--body--PaddingTop: 0px;
            --pf-c-modal-box--body--MinHeight: calc(100vh - 30rem);
        }
        .pf-c-title {
            padding-bottom: 20px;
        }
    }

    .playbookDisplay {
        width: calc(100vw - 20rem);
    }

    @media only screen and (max-width: 992px) {
        .runDetails {
            flex-direction: column;

            .pf-c-card + .pf-c-card {
                margin: 20px 0 0 0;
            }
        }
}
}
