@import '@redhat-cloud-services/frontend-components-utilities/styles/_mixins.scss';

.page__remediations {
    .pf-l-page-header .pf-c-content {
        display: flex;
        justify-content: space-between;
    }

    section.pf-c-page-header.pf-c-page__main-section {
        display: flex;
        justify-content: space-between;
    }
}

.ins-c-plan-modal {
    .pf-c-modal-box__body{
        > * + * { @include rem('margin-top', 20px); }
    }
}

// mobile fixes
@media only screen and (max-width: 768px) {
  .pf-c-dropdown__menu { right: 0; } // position all dropdown contents left in mobile

  .page__remediation-details .pf-c-dropdown button { // make button emulate link styling in kebab
    --pf-c-button--disabled--BackgroundColor: transparent;
    --pf-c-button--m-secondary--BackgroundColor: transparent;
    --pf-c-button--after--BorderColor: transparent;
    --pf-c-button--hover--after--BorderWidth: 0;
    color: var(--pf-global--Color--200);
  }
}
