@import '@red-hat-insights/insights-frontend-components/Utilities/_mixins.scss';


.page__list-plans {

    // Make all cards the same height
    .ins-c-summary-cards .pf-c-card{
        min-height: 100%
    }

    .ins-m-text-emphesis, .pf-c-progress__measure {
        @include rem('font-size', 24px);
        font-weight: 600;
    }

    // Actions Resolved Card
    .ins-c-card__actions-resolved {
        .pf-c-card__header .pf-l-grid {
            align-items: center;
        }
        .ins-c-action__update-date {
            @include rem('font-size', 12px);
        }
    }

    // Systems Reboot Card
    .ins-c-card__system-reboot {
        .pf-l-stack, .pf-l-stack__item {
            align-items: center;
            text-align: center;
        }
    }
    // Plan Details Card
    .ins-c-card__plan-details {
        .pf-l-stack__item:last-of-type {
            @include rem('margin-top', 5px);
            @include rem('padding-top', 5px);
            border-top: 1px solid #efefef;
        }
    }
}