@import '@redhat-cloud-services/frontend-components-utilities/styles/_mixins.scss';


.page__remediation-details {

    // Make all cards the same height
    .rem-c-summary-cards .pf-c-card{
        min-height: 100%
    }

    .pf-c-card__header .rem-m-card__header-bold,
    .pf-c-card__header.rem-m-card__header-bold {
        font-weight: 600;
    }

    .ins-m-text-emphesis, .pf-c-progress__measure {
        @include rem('font-size', 24px);
        font-weight: 600;
    }

    .ins-c-subheader-small {
        @include rem('font-size', 12px);
    }

    // Actions Resolved Card
    .ins-c-card__actions-resolved {
        .pf-c-card__header .pf-l-grid {
            align-items: center;
        }
    }

    // Systems Reboot Card
    .rem-c-card__system-reboot {
        .pf-l-stack, .pf-l-stack__item {
            align-items: center;
            text-align: center;
        }
        .ins-c-reboot-switch {
            @include rem('margin-bottom', 10px);
        }
    }
    // Remediations Details Card
    .ins-c-card__plan-details {
        .pf-l-stack__item:not(.ins-m-border-top){
            @include rem('margin-bottom', 5px);
        }
        .pf-l-stack__item .ins-m-border-top{
            @include rem('margin-top', 7.5px);
            @include rem('padding-top', 7.5px);
            border-top: 1px solid #efefef;
        }
    }

    .ins-c-playbookSummary {
        &__overview { margin-bottom: var(--pf-global--spacer--lg); }
        &__settings { margin-bottom: var(--pf-global--spacer--sm); }
        button {
            width: min-content;
            padding-left: 0;
            padding-right: 0;
        }
        .ins-c-reboot-status {
            &__enabled b { color: var(--pf-global--success-color--200); }
            &__disabled b { color: var(--pf-global--danger-color--200); }
        }
        &__tabs {
            background: white;
            padding: var(--pf-global--spacer--md);
        }
    }
}
