@import '@patternfly/patternfly/sass-utilities/_all';

.rem-c-execute-modal__body {
	.rem-c-connection-status { 
		margin-right: var(--pf-global--spacer--xs); 
	}
	.rem-c-connection-status-error {
		color: var(--pf-chart-global--danger--Color--100);
	}
    .pf-m-compact {
		.pf-c-content, .pf-c-button {
			font-size: var(--pf-global--FontSize--sm);
		}
	}
}

@media only screen and (max-width: $pf-global--breakpoint--sm) {
    .pf-c-modal-box__footer {
        flex-wrap: wrap;
        .pf-c-button {
            margin-bottom: var(--pf-c-modal-box__footer--c-button--MarginRight);
        }
    }
}
