div.pf-v6-c-empty-state__content {
    max-width: 100%;
    width: 80%;
}

div.pf-v6-c-progress__description {
    display: flex;
}

.pf-v6-c-empty-state__body.pf-c-progress-bar {
    margin: 0 12.5% 0 12.5%;
}

.pf-v6-c-empty-state__body.pf-c-progress-message {
    color: var(--pf-t--global--color--nonstatus--gray--default);
}

.pf-v6-c-empty-state__body.pf-c-progress-message-description {
    font-size: var(--pf-t--global--font--size--body--sm);
}
