.ins-c-playbook-reboot-required {
    color: var(--pf-t--global--text--color--status--warning--default);
    font-weight: var(--pf-t--global--font--weight--bold);
    svg {
        margin-right: var(--pf-t--global--spacer--sm);
        color: var(--pf-t--global--icon--color--status--warning--default);
    }
}

.ins-c-remediation-danger-text {
    color: var(--pf-t--global--text--color--status--danger--default);
}
