.rem-c-card__playbook-log {
    .ins-c-primary-toolbar { padding: 0; }
    .pf-c-toolbar { padding-left: 0; padding-right: 0; }
    .ins-c-tag-count { padding: 0; }
    .pf-c-data-toolbar__content { padding: 0; }
}