.ins-c-playbook-card {
    height: 100%;

    &__header {
        font-size: large;
        * { font-weight: normal; }
        &--last-modified { font-size: small;}
        &--badge {
            margin-right: var(--pf-global--spacer--sm);
            position: relative;
            bottom: 2px; // because we want to have this inline with the text, we can't use flex
        }
        &--name { word-break: break-all; }
    }

    &__body {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        &--values {
            font-weight: bold;
            font-size: large;
        }
        &--split {
            --pf-l-split--m-gutter--MarginRight: var(--pf-global--spacer--2xl);
            margin-top: 12px;
        }
    }

    &__progress {
        display: block;
        &--success {
            --pf-c-progress__indicator--BackgroundColor: var(--pf-global--success-color--100);
            .pf-c-progress__status-icon {
                display: none;
            }
        }
    }
}

.ins-m-not-entitled {
    display: none;
}

.ins-c-remediations-success { color: var(--pf-global--success-color--100); }
