@import '@redhat-cloud-services/frontend-components-utilities/files/Utilities/_mixins.scss';

.ins-m-nowrap { white-space: nowrap; }

// TODO Fix when pf releases new version of progress that fixes title
.pf-c-progress.remediationProgress{
    --pf-c-progress--GridGap: 0;
    @include rem('grid-column-gap', 15px);
    width: 75%;
    .pf-c-progress__bar { grid-column: 1 !important; }
}

.ins-c-remediations-details-table {
    .pf-c-table__expandable-row-content { @include rem('padding', 5px); }
    .ins-c-system-card .pf-c-card__body { padding: 5px 10px !important; }
    .ins-c-system-card + .ins-c-system-card { @include rem('margin-top', 5px); }
}

// No remediations
.ins-c-no-remediations {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ins-c-table__toolbar .ins-c-skeleton {
    margin-left: auto;
}

.ins-m-not-entitled {
    display: none;
}

.ins-c-playbook-card {
    height: 100%;
    word-wrap: anywhere;
}

.ins-c-playbook-title {
    font-weight: normal;
    font-size: large;
}

.ins-c-playbook-last-modified {
    font-weight: normal;
    font-size: small;
}

.ins-c-playbook-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.ins-c-playbook-body-values {
    font-weight: bold;
    font-size: large;
}

.ins-c-remediations-success { color: var(--pf-global--success-color--100); }

.ins-c-playbook-split {
    --pf-l-split--m-gutter--MarginRight: var(--pf-global--spacer--2xl);
    margin-top: 12px;
}

.ins-c-progress {
    display: block;
    --pf-c-progress__bar--before--BackgroundColor: var(--pf-global--BackgroundColor--dark-100);
    .pf-c-progress__status-icon {
        display: none
    }
}
