.ins-c-remediation-summary {
    &__body {
        padding-top: var(--pf-global--spacer--lg);
    }

    &__reboot {
        &--enabled {
            color: var(--pf-global--success-color--100);
        }
        &--disabled {
            font-weight: var(--pf-global--FontWeight--normal);
            &--warning {
                font-weight: var(--pf-global--FontWeight--normal);
                padding-right: var(--pf-global--spacer--md);
            }
        }
        &--required {
            color: var(--pf-global--warning-color--200);
            padding: var(--pf-global--spacer--xs);
            &--icon {
                color: var(--pf-global--warning-color--100);
            }
        }
    }
}
