.ins-activity-status{
    &__text {
        &-passed { color: var(--pf-global--success-color--200); }
        &-failed { color: var(--pf-global--danger-color--200); }
        &-in_progress { color: var(--pf-global--Color--200); }
    }
    &__icon {
        font-size: 16px;
        padding-left: var(--pf-global--spacer--md);
        &-passed { color: var(--pf-global--success-color--200); }
        &-failed { color: var(--pf-global--danger-color--200); }
        &-in_progress { color: var(--pf-global--Color--200); }
    }
}