@import '@red-hat-insights/insights-frontend-components/Utilities/_mixins.scss';

.ins-c-remediations-table--loading, .ins-c-remediations-table--empty {
    text-align: center;
}

.ins-m-nowrap { white-space: nowrap; }

// TODO Fix when pf releases new version of progress that fixes title
.pf-c-progress.remediationProgress{
    --pf-c-progress--GridGap: 0;
    @include rem('grid-column-gap', 15px);
    width: 75%;
    .pf-c-progress__bar { grid-column: 1 !important; }
}

.ins-c-remediations-details-table {
    .pf-c-table__expandable-row-content { @include rem('padding', 5px); }
    .ins-c-system-card .pf-c-card__body { padding: 5px 10px !important; }
    .ins-c-system-card + .ins-c-system-card { @include rem('margin-top', 5px); }
}

// No remediations
.ins-c-no-remediations {
    display: flex;
    flex-direction: column;
    align-items: center;
}