@import '@redhat-cloud-services/frontend-components-utilities/files/Utilities/_mixins.scss';

.ins-c-remediation-details-table--empty {
    text-align: center;
}

.ins-c-remediations-details-table-systems-table {

    table-layout: fixed;

    thead tr th:nth-child(2) {
        @include rem('width', 72px);
    }
}

.ins-c-remediations-reboot-check-circle {
    fill: var(--pf-global--success-color--100);
}

.test {
    .pf-c-toolbar { padding-left: 0; padding-right: 0; }
    .pf-c-data-toolbar__content { padding: 0px; }
}