.rem-c-success { color: var(--pf-v5-global--success-color--100); }
.rem-c-failure { color: var(--pf-v5-global--danger-color--100); }
.rem-c-running { color: var(--pf-v5-global--default-color--300); }
.rem-c-canceled { color: var(--pf-v5-global--default-color--300); }

.rem-c-connection-status { margin-right: var(--pf-global--spacer--xs); }
.rem-c-connection-status-error { color: var(--pf-chart-global--danger--Color--100); }

td .rem-c-status-text { display: inline-block; min-width: 85px; }

.rem-c-description-list-latest-activity .rem-c-description-list__description {
    display: flex;
    align-items: center;
    .rem-c-description-list-latest-activity__date {
        margin-left: 16px;
        margin-right: 16px;
    }
}