.ins-c-remediations-success { color: var(--pf-global--success-color--200); }
.ins-c-remediations-failure { color: var(--pf-global--danger-color--100); }
.ins-c-remediations-running { color: var(--pf-global--secondary-color--100); }

.ins-c-remediations-status-bar {
    .pf-l-split__item {
      p {
           margin-right: var(--pf-global--spacer--md);
           svg {
               margin-right: var(--pf-global--spacer--xs);
           }
      }
    }
}

.ins-c-remediations-status-bar {
  p {
        margin-right: var(--pf-global--spacer--md);
        svg {
            margin-right: var(--pf-global--spacer--xs);
        }
    }
}