.ins-c-toolbar__filter {
    .ins-c-primary-toolbar { padding: 0; }
    .ins-c-table__toolbar { padding-left: 0; padding-right: 0 }
    .ins-c-tag-count { padding: 0; }
}

.ins-c-dialog {
    .pf-c-modal-box__title {
        display: block;
    }
}