// Importing Global Variables
@import '~@redhat-cloud-services/frontend-components/index.css';
@import '~@redhat-cloud-services/frontend-components-notifications/index.css';
@import '@redhat-cloud-services/frontend-components-utilities//files/Utilities/_all.scss';

.pf-c-form__helper-text.pf-m-error {
    color: var(--pf-global--danger-color--100);
}
