@import '@redhat-cloud-services/frontend-components-utilities/styles/_mixins.scss';

// Overwriting patternfly for widths:
.ins-s-page-header .ins-c-skeleton { @include rem('width', 100px); }
.pf-c-breadcrumb__item .ins-c-skeleton { @include rem('width', 50px); }
.ins-c-card__system-reboot .ins-c-skeleton { @include rem('width', 50px); }

.ins-s-remediation-detail__header .ins-s-page-header{
    display: flex;
    .ins-c-skeleton {  @include rem('margin-left', 15px); }
}

.ins-m-isInline { 
    display: inline-block;
    &-sm {
        width: 20px;
        margin-right: 3px;
    }
    &-md {
        width: 35px;
        margin-left: 10px;
    }
}

.ins-m-inline-flex, .ins-m-flex-children dd { display: inline-flex; }
