@import '@redhat-cloud-services/frontend-components-utilities/files/Utilities/_mixins.scss';

.ins-c-skeleton-table__footer > * {
    @include rem('margin', 5px);
}

.ins-m-align-right > * {
    margin-left: auto;
    margin-right: 0;
}

.ins-c-table__empty + .ins-c-table__toolbar {
    border-top: none;
}
